<h1>ぐるなび</h1>

<div id="hello">
  <input type="text" v-model="search">
  <input type="button" value="search" v-on:click="onclick">
  
  <p>{{ allstores }}</p>
  <p v-for="message in messages">{{message.name}}</p>
</div>