.welcomepage {
  margin: 0 auto;
  width: 800px;
}

.title {
  font-weight: bold;
  font-size: 2em;
}

.searcharea {
  margin-top: 20px;
}

.freewordsearch {
  height: 30px;
  width: 140px;
  border-radius: 5px;
}

.content {
  border: thin solid #000;
  margin-top: 30px;
}

#map {
  height: 400px;
  width: 600px;
}